/* header.component.css */
header {
  width:100%;
  color: black;
  height: 50px;
  top: 0;
  left: 0;
  padding:20px;
}

h1 {
  margin: 0;
}

.header-main{
  display:flex;
}

.ham{
  padding-right: 1200px;
}
