<div>
  <div>
    <h2>Author</h2>
  </div>
</div>
<header>
  <div></div>
  <div class="video-content">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="assets/images/coverr-female-hands-type-on-laptop-1565793988744.mp4" type="video/mp4">
    </video>

    <div class="content">
      <div>
        <div>
          <br />
          <p>Get Started</p>
          <br />
          <p>Create Your Product In</p>
          <br />
          <p>Minutes!</p>
          <img width="70" height="70" src="assets/images/landingpagevideoicon.png" />
          <br />
          <br />
          <p>Trust Our Delightful Smart Tools!</p>
          <br />
        </div>
      </div>
    </div>
  </div>

</header>
<br/><br /><br />
<div class="tile-container">
  <div class="tile">
    <div routerLink="/courses">
      <img src="assets/images/landingpage07.png" />
      <div>Course</div>
    </div>
  </div>
  <div class="tile">
    <div routerLink="#">
      <img src="assets/images/landingpage07.png" />
      <div>Exam</div>
    </div>
  </div>
  <div class="tile">
    <div routerLink="#">
      <img src="assets/images/landingpage07.png" />
      <div>Survey</div>
    </div>
  </div>
  <div class="tile">
    <div routerLink="#">
      <img src="assets/images/landingpage07.png" />
      <div>Poll</div>
    </div>
  </div>
  <div class="tile">
    <div routerLink="#">
      <img src="assets/images/landingpage07.png" />
      <div>Collection</div>
    </div>
  </div>
</div>

