<nav class="sidenav">
  <ul>
    <li><a routerLink="/">Dashboard</a></li>
    <li><a routerLink="/about">e-Courses</a></li>
    <li><a routerLink="/about">e-Library</a></li>
    <li><a routerLink="/about">Achievements</a></li>
    <li><a routerLink="/about">Messaging</a></li>
    <li><a routerLink="/about">Catalog Mnanagement</a></li>
    <li><a routerLink="/about">Author</a></li>
    <li><a routerLink="/about">My Courses</a></li>
    <li><a routerLink="/about">My Collection</a></li>
    <li><a routerLink="/about">Reports</a></li>
    <li><a routerLink="/about">Settings</a></li>
  </ul>
</nav>
